$sm: config("screens.sm");
$md: config("screens.md");
$lg: config("screens.lg");
$xl: config("screens.xl");

@mixin mediaBreak($class) {
  @if $class == sm {
    @media (min-width: $sm) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: $md) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: $lg) {
      @content;
    }
  } @else if $class == xl {
    @media (min-width: $xl) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: sm, md, lg, xl";
  }
}
