/* stylelint-disable */
$spacer: 2rem;
$headingtype: (
  font-family: "calluna",
  regular: 400,
  bold: 700,
  cap-height: 0.66
);

$rootsizes: (
  rootsize-0: 15,
  /* 28px line-height body text*/ rootsize-1: 15,
  /* 28px line-height body text*/ rootsize-2: 15,
  /* 30px line-height body text*/ rootsize-3: 17,
  /* 34px line-height body text*/ rootsize-4: 19 /* 38px line-height body text*/
);

$linkColour: black;
$hoverColour: hsla(0, 0, 0, 0.5);

@import "components/wp-classes";
@import "components/mixins";
@import "~sassline/assets/sass/sassline-base";
@import "~flickity/dist/flickity.min.css";
@import "~flickity-fullscreen/fullscreen.css";
@import "layouts/tinymce";
@tailwind utilities;

html,
body {
  height: initial;
}

body {
  overflow-x: hidden;
}

a:not(.logo):focus {
  outline-style: dashed;
  outline-width: 0.25pt;
  outline-offset: -1px;
  outline-color: rgba(0, 0, 0, 0.5);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;

  &:not(#tinymce) {
    font-family: "calluna", serif;
    overflow-x: hidden;
  }
}

#tinymce {
  height: auto;
}

.logo img {
  height: 24px;
  width: auto;
}

nav {
  overflow-x: hidden;
}

nav a {
  color: config("colors.black");
  font-size: config("textSizes.xl");
  text-decoration: none;
  font-feature-settings: "dlig", "liga", "lnum", "kern";
}

#pjax {
  main,
  nav,
  .current-issue span {
    transition: opacity 0.45s;
  }
}

#pjax.animate-category {
  .current-issue span {
    opacity: 0;
  }
}

#pjax.slide-out {
  main,
  nav {
    opacity: 0;
  }

  a {
    cursor: progress;
  }
}

.entry-content figure {
  max-width: 100%;
  width: 100%;
  img {
    object-fit: cover;
  }
}

.entry-content img {
  max-width: 100%;
  width: 100%;
  height: auto !important;
}

.current-issue {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 45px;
  white-space: nowrap;
  overflow: hidden;

  span {
    transform: rotate(-90deg);
    position: relative;
    display: block;
    font-family: config("fonts.sans");
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
}

.typeset h1 {
  font-weight: 300 !important;
}

.typeset p:empty {
  margin: 0 !important;
  padding: 0 !important;
}

.single-post .typeset pre {
  font-family: map-get($headingtype, font-family);
  padding: 0;
  margin: 0;
  background: 0;
}

.spacer {
  height: 1px;
  pointer-events: none;
  width: 100%;
  margin-left: 24px;
  background: black;
  z-index: -1;
}

.flickity-gallery {
  img {
    display: block;
    width: 100%;
  }
}

.flickity-prev-next-button {
  display: none;

  @media (min-width: config("screens.md")) {
    display: block;
  }

  &.previous {
    background-image: url("../images/left-arrow.svg");
    transform-origin: top center;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    left: -50px;
  }

  &.next {
    background: transparent;
    background-image: url("../images/right-arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    right: -50px;
  }

  svg {
    display: none;
  }
}

.author:first-of-type {
  margin-top: 0;
}

.wp-caption-text {
  font-size: config("textSizes.sm");
  color: rgba(0, 0, 0, 0.8);
  line-height: 1;
}

footer a {
  text-decoration: underline;
}
